<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/bootstrap-4.6.0-dist/css/bootstrap.min.css" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap-5.0.0-beta2-dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        body {
            padding-top: 5rem;
        }
    </style>

</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Peng</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="crop">Crop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="xception">Xception</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about">About</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<main class="container">

    <div class="starter-template text-center py-5 px-3">
        <h1>Welcome to anti-spoofing system</h1>
    </div>

</main>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
      <span class="text-muted"><p class="lead">Click <strong>Crop</strong> in nav bar to distinguish images.<br> Have a nice journey.</p></span>
  </div>
</footer>

<script src="../static/bootstrap-5.0.0-beta2-dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>
